@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style-type: none;}
a{text-decoration: none;color: inherit;}
body{
    width: 100vw;
    /* background: linear-gradient(135deg, #FFFFFF, #333333); */
    background-color: #FFFDFD;
    color: #2F2F2F;
    font-family: Raleway,sans-serif;
    display: grid;
    grid-template-columns: 5vw repeat(3,30vw) 5vw;
    grid-template-rows: repeat(3,auto);
    overflow-x: hidden;
    grid-template-areas:
    "nav nav nav nav nav"
    ". main main main ."
    "footer footer footer footer footer";
}
#header-nav{
    height: 7vh;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FFFDFD;
    color: #000000;
    border-bottom: 2px solid #CBD2D0;
    
}
h1{
    font-size: 1.1rem;
    padding: 1rem;
    color: #0166FF;
}
#header-nav #barra-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    font-weight: 600;
}
main{
    background-color: #F9F9F9;
    grid-area: main;
}
#sobre-mi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:
    "title img"
    "position img"
    "redes img"
    "redes img"
    "description description"
    ;
    justify-items: start;
    align-items:center;
    height: 93vh;
    border-bottom: 2px solid #CBD2D0;
    text-align: center;
}
#sobre-mi-img{
    justify-self: center;
    grid-area: img;
    width: 70%;
    height:90%;
    border-radius: 100%;
    object-fit:cover;
}
#sobre-mi h2{
    grid-area: title;
    width: 100%;
    font-size: 3rem;
    color: #0166FF;
}
#sobre-mi h3{
    color: #690375;
    grid-area: position;
    width: 100%;
    font-size: 2rem;
}
#sobre-mi-redes{
    grid-area: redes;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.sobre-mi-redes-item{
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
}
#github-item{
    background-color: #000000;
}
#linkedin-item{
    background-color: #0A66C2;
}
#cv-item{
    background-color: #690375;
}
#sobre-mi-descripcion{
    grid-area: description;
    line-height: 1.3rem;
    padding: 1rem 0.5rem;
}
.secciones{
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #CBD2D0;
}
.secciones header{
    padding: 1rem;
    height: 10%;
}
.secciones header h2{
    font-size: 2rem;
    color: #000000;
}
.contenedor{
    height: 90%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #FFFDFD;
    border: 2px inset #CBD2D0;
    border-radius: 1rem;
}
.proyecto{
    background-color: #F9F9F9;
    border: 2px outset #CBD2D0;
    border-radius: 0.2rem;
    color: #000000;
    width: 32.3%;
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.proyecto img{
    width: 100%;
    height: 40%;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    object-fit: fill;
}
.proyecto h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.proyecto p{
    width: 100%;
    margin-bottom: 0.5rem;
}
.proyecto .botonera{
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.boton-item{
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: #0166FF;
    color: #FFFDFD;
}

.formacion{
    width: 32.3%;
    height: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    background-color: #F9F9F9;
    border: 2px outset #CBD2D0;
    color: #000000;
}
.formacion img{
    width: 100%;
    height: 40%;
    border-radius: 0.5rem;
    object-fit: fill;
}
.formacion h3{
    font-size: 1.3rem;
}
.formacion h4{
    font-size: 1.2rem;
}
.formacion p{
    text-align: center;
    border-radius: 1rem;
}

#section-contacto{
    display: flex;
    gap: 1rem;

}
#imagen-contacto{
    width: 45%;
    border-radius: 0.2rem;
    object-fit: cover;
}
#form-contacto{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #000000;
    color: #FFFDFD;
    border-radius: 0.2rem;
}
#form-contacto fieldset{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
}
label{
    display: inline-block;
    width: 100%;
    height: 4rem;
}
#label-mensaje{
    height: 9rem;
}
label input{
    width: 100%;
    border-radius: 0.2rem;
    border: none;
}
label textarea{
    display: block;
    width: 100%;
    height: 6rem;
}
#btn-enviar{
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 40%;
    background-color: #0166FF;
    border: 0;
    color: white;
}
footer{
    text-align: center;
    grid-area: footer;
    padding: 2rem;
    color: #000000;
    border-top: 2px solid #CBD2D0;
}

/*Media*/
